<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Joyce</title>
</head>

<body style="height: 100%; margin: 0;">
<noscript>
    <strong>
        We're sorry but joyce doesn't work properly without JavaScript enabled. Please enable it to continue.
    </strong>
</noscript>
<link rel="stylesheet" href="//at.alicdn.com/t/font_1695329_xtzgubr6bkn.css">
<div id="app" style="height: 100%;">
    <router-view></router-view>
</div>
<!-- built files will be auto injected -->
</body>

</html>